* {
  margin: 0;
  padding: 0;
}
body {
  background-image: linear-gradient(
    to bottom right,
    rgb(71, 97, 88),
    rgb(250, 244, 242),
    rgb(71, 97, 88)
  );
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  background-attachment: fixed;
}

.header {
  margin: 70px auto;
  margin-bottom: 40px;
  text-align: center;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  text-transform: capitalize;
  width: 700px;
  font-family: "Roboto", "Trebuchet MS", "Tahoma", "Verdana", "Arial",
    "sans-serif";
  font-weight: 400;
}
.header span {
  color: rgb(250, 244, 242);
}
.Scientific-calculator {
  margin: 20px auto;
  border: 1px solid black;
  width: 730px;
  padding: 3px;
  background-color: black;
}

.number {
  font-size: 30px;
  height: 40px;
  width: 90px;
  margin: 5px;
  text-align: center;
  border: none;
  border-radius: 15%;
  box-shadow: -3px -3px 5px rgb(66, 44, 44);
}
.number:hover {
  background-color: rgb(28, 57, 71);
  transform: scale(1.25, 1.25);
}

.area {
  margin: 3px 10px;
  height: 50px;
  width: 700px;
  font-size: 30px;
  border-radius: 0.5em;
  border: 2px solid rgb(126, 134, 173);
}

@media (max-width: 500px) {
  body {
    overflow-y: scroll;
    overflow-x: scroll;
    height: 650px;
    width: 800px;
  }

  .header {
    margin: 70px auto;
    margin-bottom: 40px;
    text-align: center;
    font-size: 25px;
  }
}
